<div class="class">
  <h2>Animais:</h2>
  <ul>
    <li *ngFor="let animal of animals"> 
      Nome: <a routerLink="/list/{{animal.id}}">{{animal.name}}</a>, Tipo: {{animal.type}}
      <button (click)="showAge(animal)">Show age</button>
      <button (click)="removeAnimal(animal)">Excluir</button>
      <button (click)="addAgeAnimal(animal)"> Aumentar idade</button>
    </li>

    
    <h2>Materias:</h2>

    <li *ngFor="let subject of subjects">
      Nome: <a routerLink="/list/{{subject.id}}">{{subject.name}}, </a> Tipo: {{subject.type}}
      <button (click)="showHour(subject)">Show Total Hour</button>
      <button (click)="removeSubject(subject)">Excluir</button>
      <!-- <button (click)="showHour(subject)">Show Total Hour</button> -->
    </li>
  </ul>
  <h3>{{animalDetails}}</h3>
  <h3>{{subjectDetails}}</h3>

</div>
<!-- O *ngFor é uma forma do Angular percorrer uma array, muito de boa mesmo, poe let depois o nome do array e of nomedoarray + s no final -->